@model TALENTSPHERE.Models.User

<body>

    <!-- Обложка -->
    <div class="cover" style="background-image: url('https://vk-oblozhki.ru/photos/big/vancouver-stanley-park-panorama-dusk-gorod-130-2466.jpg');">
        <!-- Кнопка "Настройки" -->
        <a class="settings-btn" href="Settings">
            Настройки
        </a>
    </div>

    <!-- Основной блок с информацией -->
    <div class="profile-container">
        <!-- Левая часть -->
        <div class="profile-info">
            <div class="name-section">
                <div class="name">@Model.Name @Model.Surname</div>
                <div class="rating" title="Рейтинг: @Model.Rating из 5">⭐ @Model.Rating</div>
            </div>
            <div class="position">@Model.Speciality</div>
            <div class="description">
                @Model.Description
            </div>
        </div>
    </div>

</body>