@model TALENTSPHERE.Models.ShortUserViewModel

<header class="header">
    <div class="specialties">
        <div class="specialty">Дизайн</div>
        <div class="specialty">Программирование</div>
        <div class="specialty">Маркетинг</div>
        <div class="specialty">Переводы</div>
        <div class="specialty">Фото и видео</div>
    </div>
    <div class="avatar-container" id="avatarContainer">
        <img src="" alt="@Model.Login" class="avatar" id="avatar" />
        <div class="dropdown" id="dropdownMenu">
            <div><strong>Логин:</strong> @Model.Login</div> 
            <div><strong>ФИ:</strong> @Model.Name @Model.Surname</div> 
            <div><strong>Почта:</strong> @Model.Email</div> 
            
            <a href="Account/Profile" class="menu-btn">Профиль</a>
            <a href="Auth/Logout" class="menu-btn">Выйти</a>
        </div>
    </div>
</header>

<script>
    // Обработка клика по аватарке для переключения меню
    const avatarContainer = document.getElementById('avatarContainer');
    const dropdown = document.getElementById('dropdownMenu');

    avatarContainer.addEventListener('click', () => {
      dropdown.classList.toggle('show');
    });

    // Закрытие меню при клике вне
    document.addEventListener('click', (e) => {
      if (!avatarContainer.contains(e.target)) {
        dropdown.classList.remove('show');
      }
    });
</script>


